.header{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor{
  display: inline-block;
  padding: 8px 24px;
}

.anchor:hover,
.anchor:focus,
.anchor:active {
  color: #0070f3;
  border-color: #0070f3;
}